body {
    margin: 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #03173E;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(224, 89, 41);
    overflow: hidden;
}

#header img {
    width: 140px;
    height: auto;
    margin-right: 20px;
}

#title {
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

#title h1 {
    margin: 0;
    font-weight: normal;
}

/* Map */
#map {
    width: 80%;
    margin: 50px auto 20px;
    height: 580px;
}

#filter-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
}
#sub-filter-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
}

#filter {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
    text-align: center;
}

#botText {
    color: #ffffff;
    text-align: center; 
    font-weight: normal;
}

#botText p {
    margin: 0; 
    font-weight: normal;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-color: #03173E;
    padding: 30px;
}

.detail-pane {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px; 
    height: 100vh; 
    background-color: #f4f4f4; 
    overflow-y: auto; 
    padding: 20px; 
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); 
}

body {
    margin-right: 300px; 
}



#detailPane {
    padding: 20px;
    border: 3px solid rgba(224, 89, 41);
    box-shadow: 0 15px 10px rgba(224, 89, 41);
    border-radius: 5px;
    background-color: #03173E;
    margin-bottom: 20px;
}

/* Heading styles */
#detailPane h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Georgia', Times, serif;
}
#detailPane hr {
    border: 0;
    border-top: 2px solid rgba(224, 89, 41);
    margin: 20px 0;
    font-family: 'Georgia', Times, serif;
}
/* Paragraph styles */
#detailPane p {
    color: #ffffff;
    margin-bottom: 5px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
}

/* Bold text styles */
#detailPane strong {
    font-weight: bold;
}
.orange-text {
    color: rgba(224, 89, 41);
}


