body {
    margin: 0; /* Remove default margin */
}

#header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
    width: 100%;
    height: 120px;
    background-color: #03173E;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(224, 89, 41);
    overflow: hidden;
}

#header img {
    width: 140px;
    height: auto;
    margin-right: 20px; /* Add some spacing between image and title */
}

#title {
    color: #ffffff;
    text-align: center; /* Center the text horizontally */
    font-weight: normal;
}

#title h1 {
    margin: 0; /* Remove default margin */
    font-weight: normal;
}

/* Map */
#map {
    width: 80%; /* Adjust the width to make it less wide */
    margin: 50px auto 20px; /* Center the map horizontally */
    height: 580px; /* Adjust the height as needed */
}

#filter-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
}

#filter {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
    text-align: center;
}

#botText {
    color: #ffffff;
    text-align: center; /* Center the text horizontally */
    font-weight: normal;
}

#botText p {
    margin: 0; /* Remove default margin */
    font-weight: normal;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-color: #03173E;
    padding: 30px;
}

.detail-pane {
    position: fixed;
    right: 0;
    top: 0;
    width: 300px; /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #f4f4f4; /* Light grey background, change as needed */
    overflow-y: auto; /* Add scroll for content overflow */
    padding: 20px; /* Add some padding for content */
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Optional: adds a slight shadow for depth */
}

body {
    margin-right: 300px; /* Adjust body margin to prevent content from being hidden by the detail pane */
}

#detailPane {
    padding: 20px;
    border: 3px solid rgba(224, 89, 41);
    box-shadow: 0 15px 10px rgba(224, 89, 41);
    border-radius: 5px;
    background-color: #03173E;
    margin-bottom: 20px;
}

/* Heading styles */
#detailPane h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Georgia', Times, serif;
}
#detailPane hr {
    border: 0;
    border-top: 2px solid rgba(224, 89, 41);
    margin: 20px 0;
    font-family: 'Georgia', Times, serif;
}
/* Paragraph styles */
#detailPane p {
    color: #ffffff;
    margin-bottom: 5px;
    font-family: 'Georgia', Times, serif;
    font-weight: normal;
}

/* Strong (bold) text styles */
#detailPane strong {
    font-weight: bold;
}
.orange-text {
    color: rgba(224, 89, 41);
}


